# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*  # Por si usas .env.production, .env.staging, etc.

# Node modules
node_modules/

# OS / Editor folders & files
.DS_Store
Thumbs.db
.vscode/
.idea/
